
# Python/IPython/VSCode
*.pyc
*.ipynb_checkpoints
.python-version
.vscode/*

# Saved models, config, and Tensorboard run logs
saved/*
saved_archives/*

# symlinks to renderman
librenderman.so
synth/librenderman.so

# Folder of figures (matplotlib or others) and audio/images exports
figures/*
exports/*

# Analysis notebooks
eval_analysis.ipynb
data_analysis.ipynb
